In [9]:
import pandas as pd 
import numpy as np
import re

In [10]:
df = pd.read_csv('raneen_products.csv')

In [11]:
df.head()

,name,current_price,old_price,link
0,ثلاجة ديفروست يونيون اير جوستو، 2 باب، 350 لتر...,"13,150 جنيه\n15,500 جنيه","15,500 جنيه",https://www.raneen.com/ar/unionaire-rd-350bb-d...
1,"ثلاجة نوفروست توشيبا, 411 لتر, 2 باب, GR-RT559...","24,800 جنيه","43,000 جنيه",https://www.raneen.com/ar/toshiba-gr-rt559we-d...
2,ثلاجة دبيلو الاسكا، ديفروست، 10قدم، KS-27 - ابيض,"9,789 جنيه","11,000 جنيه",https://www.raneen.com/ar/w-alaska-ks-27-refri...
3,"IDEAL Super Jumbo Defrost Refrigerator, 11 fee...","11,000 جنيه","12,500 جنيه",https://www.raneen.com/ar/ka01000000ttt-conf
4,ثلاجة ديفروست هامبورج، 10 قدم، باب واحد، 280 ل...,NaN,NaN,https://www.raneen.com/ar/hamburg-fb29-defrost...

In [12]:
df = df.drop_duplicates()

In [13]:
df = df.dropna()

In [14]:
df = df.reset_index(drop=True)

In [15]:
df.head()

,name,current_price,old_price,link
0,ثلاجة ديفروست يونيون اير جوستو، 2 باب، 350 لتر...,"13,150 جنيه\n15,500 جنيه","15,500 جنيه",https://www.raneen.com/ar/unionaire-rd-350bb-d...
1,"ثلاجة نوفروست توشيبا, 411 لتر, 2 باب, GR-RT559...","24,800 جنيه","43,000 جنيه",https://www.raneen.com/ar/toshiba-gr-rt559we-d...
2,ثلاجة دبيلو الاسكا، ديفروست، 10قدم، KS-27 - ابيض,"9,789 جنيه","11,000 جنيه",https://www.raneen.com/ar/w-alaska-ks-27-refri...
3,"IDEAL Super Jumbo Defrost Refrigerator, 11 fee...","11,000 جنيه","12,500 جنيه",https://www.raneen.com/ar/ka01000000ttt-conf
4,ثلاجة ديفروست هامبورج، 11 قدم، 2 باب، 300 لتر،...,"11,149 جنيه","13,500 جنيه",https://www.raneen.com/ar/hamburg-fb30-defrost...

In [16]:
def extract_first_value(text):
    return re.findall(r'\d{1,3}(?:,\d{3})*', text)[0]

In [17]:
df['current_price'] = df['current_price'].apply(extract_first_value)

In [18]:
df['current_price'] = df['current_price'].str.replace('جنيه', '', regex=False).str.replace(',', '').astype(float)
df['old_price'] = df['old_price'].str.replace('جنيه', '', regex=False).str.replace(',', '').astype(float)

In [20]:
df['discount'] = ((df['old_price'] - df['current_price']) / df['old_price']) * 100

In [21]:
def format_row(row):
    return (
        f"المنتج هو '{row['name']}'."
        f"السعر هو {row['current_price']}. "
        f"الخصم المتاح هو {row['discount']}. "
    )

In [22]:
df['Formatted'] = df.apply(format_row, axis=1)

In [23]:
df[['Formatted', 'link']].to_csv('Raneen.csv', index=False , encoding='utf-8-sig')